@import 'reset';
@import 'variables';
@import 'theme/light';
@import 'theme/dark';

h1 {
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

.app {
  min-height: 100vh;
  padding: 30px;
  background-color: var(--bg-color);
  font: var(--font-main);
  color: var(--text-color);
}

.page {
  display: flex;
}

main {
  flex: 1;
  background-color: #ebd5d5;
}