.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 50px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.message {
  display: block;
}

.btn {
  margin-top: 20px;
}
